.blog-posts {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.blogtitle {
	font-family: "Heebo";
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 44px;
	letter-spacing: 0px;
	text-align: left;
}

.year-tags {
	display: flex;
	flex-direction: row;
	gap: 20px;
	.line {
		width: 1px;
		height: 21px;
		background-color: black;
	}
	.tags {
		color: #8695a4;
	}
}
.desciption {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
}
